[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/orcaslicer-bin
Name=Orca Slicer
Icon=/usr/share/icons/hicolor/192x192/apps/OrcaSlicer-bin.png
